/* ------------------- fonts ----------------------- */
@font-face {
  font-family: "chulalongkornbold";
  src: url("./fonts/chulalongkornbold-webfont.woff2") format("woff2"),
    url("./fonts/chulalongkornbold-webfont.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "chulalongkornreg";
  src: url("./fonts/chulalongkornreg-webfont.woff2") format("woff2"),
    url("./fonts/chulalongkornreg-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/* --------------------- main ------------------------- */

.home-content {
  width: 100%;
  overflow-y: auto;
  -ms-overflow-style: none;
  /* background-color: red; */
}

.home-content::-webkit-scrollbar {
  display: none;
}

.home-content-top {
  /* height: 300px; */
  height: 650px;
  text-align: center;
  display: block;
  background-image: url("./img/space-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.home-content-top .card-container {
  padding-left: 50px;
  padding-top: 50px;
}

.card-container .card {
  height: 480px;
  width: 380px;
  background-color: whitesmoke;
  box-shadow: 0 4px 8px 0 rgba(207, 207, 207, 0.2), 0 6px 20px 0 rgba(207, 207, 207, 0.19);
  padding: 10px;
}

.btn-registernow {
  margin-top: 50px;
  height: 75px;
  width: 200px;
  text-align: center;
  left: 50%;
  display: inline-block;
  background-color: #de5c8e;
  font-family: "chulalongkornbold";
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.15s ease-in-out 0.1s;
}

.btn-registernow a {
  display: inline-block;
  vertical-align: middle;
  margin-top: 15px;
  text-decoration: none;
  font-size: 30px;
  color: white;
  transition: color 0.15s ease-in-out 0.1s;
}

.btn-registernow:hover {
  background-color: white;
}

.btn-registernow:hover a {
  color: #de5c8e;
}

.home-content-top .txt-with-link {
  margin-top: 5px;
  font-family: "chulalongkornreg";
  font-size: 20px;
}
