/* ------------------- fonts ----------------------- */
@font-face {
    font-family: 'chulalongkornbold';
    src: url('./fonts/chulalongkornbold-webfont.woff2') format('woff2'),
         url('./fonts/chulalongkornbold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/* --------------------- main ------------------------- */

.navbar-backdrop {
    height: 55px;
    width: 100%;
    background-color: #202020;
}

.navbar-area {
    height: 55px;
    width: 100%;
    background-color: #202020;
    position: fixed;
    z-index: 1;
}
.navbar-container {
    width: 100%;
    height: 55px;
}
.navbar-logo {
    height: 100%;
}
.navbar-logo-img {
    width: 50px;
    height: 50px;
    /* margin-top: 5px; */
    margin-left: 10px;
}
.navbar-logo-txt {
    color: #DE5C8E;
    font-family: 'chulalongkornbold';   
    padding-left: 7px;
    padding-right: 7px;
    /* position: relative; */
    height: 100%;
    /* background-color: red; */
    /* vertical-align: middle; */
}

.navbar-logo .staff-logo {
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 10px;
    padding-bottom: 3px;
    padding-left: 10px;
    width: 50px;
    height: 25px;
    background-color: #C3002F;
    border-radius: 5px;
    font-family: 'chulalongkornbold';
    font-size: 20px;
    color: white;

}
.big-txt {
    font-size: 25px;
    padding: 0px;
    margin: 0px;
    /* height: 50px; */
    padding-top: 8px;
    /* vertical-align: middle; */
}
.small-txt {
    font-size: 15px;
    padding: 0px;
    margin: 0px;
}
.navbar-txt {
    color: #999999;
    font-size: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 15px;
    z-index: 2;
}
/* .navbar-icon {
    padding-left: 3px;
    padding-right: 3px;
} */
.navbar-icon-profile {
    width: 25px;
    height: 25px;
    /* padding-left: 3px;
    padding-right: 3px; */
    vertical-align: middle;
    color: #999999;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
li {
    float: left; 
}

li:hover {
    color: #999999;
    background-color: #3a3a3a;
    cursor: pointer;
}

li a {
    display: block;
    text-align: center;
    text-decoration: none;
}
li a:hover{
    text-decoration: none;
    color: #999999;
    background-color: #3a3a3a;
}
a:hover li{
    text-decoration: none;
    color: #999999;
    background-color: #3a3a3a;
}

a:hover .big-txt{
    text-decoration: none;
    color: #DE5C8E;
    background-color: #3a3a3a;
}
.left {
    float: left;
}
.right {
    float: right;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #202020;
    min-width: 135px;
    z-index: 2;
    right: 0px;
    /* width: 100%; */
    
  }
  
.dropdown-content a {
    color: #999999;
    text-decoration: none;
    display: block;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  
.dropdown-content a:hover {
    background-color: #3a3a3a;
}

.dropdown-content.show-dropdown {
    display: block;
}

.hidden {
    display: none;
}